body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#grid {
    width: 50vw;
    height: 50vw;
    display: flex;
    flex-wrap: wrap;
}

#grid div {
    width: 6.25%;
    height: 6.25%;
    border: 1px solid black;
    box-sizing: border-box;
}